.list-container {
    width: 80%;
    margin: 0 auto;
    overflow-x: scroll;
    margin-top: 40px;
}

.list-container p {
    font-size: 1.8rem;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}


.list-scroll {
    display: flex;
    gap: 20px;
    width: max-content;
}

.list-container::-webkit-scrollbar {
    height: 5px;
}

.list-container::-webkit-scrollbar-thumb {
    background: rgb(189, 0, 0);
}
